<div class="corecreatebase-1-2243" name="Core@create Base">
 <div class="group-1-2244" name="Group">
  <div class="group-1-2245" name="Group">
  </div>
  <label class="text-1-2246" type="text" value="©2021 polarishealth.ai- All Rights Reserved.">
   ©2021 polarishealth.ai- All Rights Reserved.
  </label>
 </div>
 <div class="group-1-2247" name="Group">
  <div class="group-1-2248" name="Group">
  </div>
  <div class="group-1-2249" name="Group">
   <div class="group-1-2250" name="Group">
   </div>
   <div class="group-1-2251" name="Group">
    <div class="group-1-2252" name="Group">
     <div class="group-1-2253" name="Group">
      <div class="group-1-2254" name="Group">
       <label class="text-1-2255" type="text" value="Emergency Room">
        Emergency Room
       </label>
       <div class="group-1-2256" name="Group">
        <label class="text-1-2257" type="text" value="Dept: Type">
         Dept: Type
        </label>
        <img class="vector-1-2258" src="assets/images/Core/create-base/vector-1_2258.svg"/>
       </div>
      </div>
      <div class="group-1-2262" name="Group">
       <div class="group-1-2263" name="Group">
        <img class="vector-1-2264" src="assets/images/Core/create-base/vector-1_2264.svg"/>
        <label class="text-1-2266" type="text" value="Site1_ED">
         Site1_ED
        </label>
        <label class="text-1-2267" type="text" value="Dept: Group">
         Dept: Group
        </label>
       </div>
      </div>
      <div class="group-1-2268" name="Group">
       <div class="group-1-2269" name="Group">
        <img class="vector-1-2270" src="assets/images/Core/create-base/vector-1_2270.svg"/>
        <label class="text-1-2272" type="text" value="Registered Nurses">
         Registered Nurses
        </label>
        <label class="text-1-2273" type="text" value="Resource Group">
         Resource Group
        </label>
        <div class="group-1-2274" name="Group">
         <div class="group-1-2275" name="Group">
          <div class="group-1-2276" name="Group">
          </div>
          <label class="text-1-2277" type="text" value="+3">
           +3
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-2278" name="Group">
       <div class="group-1-2279" name="Group">
        <img class="vector-1-2280" src="assets/images/Core/create-base/vector-1_2280.svg"/>
        <label class="text-1-2282" type="text" value="March 01,2023  10:33 AM">
         March 01,2023  10:33 AM
        </label>
        <label class="text-1-2283" type="text" value="Created On">
         Created On
        </label>
       </div>
      </div>
      <div class="group-1-2284" name="Group">
       <div class="group-1-2285" name="Group">
        <div class="group-1-2286" name="Group">
         <img class="vector-1-2287" src="assets/images/Core/create-base/vector-1_2287.svg"/>
         <label class="text-1-2289" type="text" value="921409198-87861">
          921409198-87861
         </label>
         <label class="text-1-2290" type="text" value="Base Line ID">
          Base Line ID
         </label>
        </div>
       </div>
      </div>
     </div>
     <div class="group-1-2291" name="Group">
      <div class="group-1-2292" name="Group">
       <div class="group-1-2293" name="Group">
        <div class="group-1-2294" name="Group">
         <div class="group-1-2295" name="Group">
          <div class="group-1-2296" name="Group">
           <label class="text-1-2297" type="text" value="Shift Duration">
            Shift Duration
           </label>
           <label class="text-1-2298" type="text" value="5-10">
            5-10
           </label>
           <img class="vector-1-2299" src="assets/images/Core/create-base/vector-1_2299.svg"/>
           <label class="text-1-2301" type="text" value="Hours">
            Hours
           </label>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-2302" name="Group">
       <div class="group-1-2303" name="Group">
        <div class="group-1-2304" name="Group">
         <label class="text-1-2305" type="text" value="Start Date ">
          Start Date
         </label>
         <div class="group-1-2306" name="Group">
          <label class="text-1-2307" type="text" value="03 Jan 2023">
           03 Jan 2023
          </label>
         </div>
         <img class="vector-1-2308" src="assets/images/Core/create-base/vector-1_2308.svg"/>
        </div>
       </div>
      </div>
      <div class="group-1-2310" name="Group">
       <div class="group-1-2311" name="Group">
        <div class="group-1-2312" name="Group">
         <img class="vector-1-2313" src="assets/images/Core/create-base/vector-1_2313.svg"/>
         <div class="group-1-2315" name="Group">
          <div class="group-1-2316" name="Group">
           <label class="text-1-2317" type="text" value="End Date">
            End Date
           </label>
          </div>
          <div class="group-1-2318" name="Group">
           <div class="group-1-2319" name="Group">
            <label class="text-1-2320" type="text" value="31 Jan  2023">
             31 Jan  2023
            </label>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-2321" name="Group">
       <div class="group-1-2322" name="Group">
        <div class="group-1-2323" name="Group">
         <div class="group-1-2324" name="Group">
          <label class="text-1-2325" type="text" value="Latest Start Time Scale ">
           Latest Start Time Scale
          </label>
          <label class="text-1-2326" type="text" value="03">
           03
          </label>
          <img class="vector-1-2327" src="assets/images/Core/create-base/vector-1_2327.svg"/>
         </div>
        </div>
       </div>
      </div>
      <div class="group-1-2329" name="Group">
       <div class="group-1-2330" name="Group">
        <div class="group-1-2331" name="Group">
         <label class="text-1-2332" type="text" value="Transition Scale ">
          Transition Scale
         </label>
         <label class="text-1-2333" type="text" value="03">
          03
         </label>
         <img class="vector-1-2334" src="assets/images/Core/create-base/vector-1_2334.svg"/>
        </div>
       </div>
      </div>
     </div>
    </div>
    <img class="vector-1-2340" src="assets/images/Core/create-base/vector-1_2340.svg"/>
   </div>
  </div>
  <div class="group-1-2341" name="Group">
   <div class="group-1-2342" name="Group">
    <label class="text-1-2343" type="text" value="Polaris Optimal">
     Polaris Optimal
    </label>
    <label class="text-1-2344" type="text" value="Cost savings">
     Cost savings
    </label>
    <label class="text-1-2345" type="text" value="$865 654">
     $865 654
    </label>
    <img class="vector-1-2346" src="assets/images/Core/create-base/vector-1_2346.svg"/>
    <div class="group-1-2348" name="Group">
     <img class="vector-1-2349" src="assets/images/Core/create-base/vector-1_2349.svg"/>
     <label class="text-1-2351" type="text" value="+ 3.3 %">
      + 3.3 %
     </label>
    </div>
    <img class="vector-1-2352" src="assets/images/Core/create-base/vector-1_2352.svg"/>
   </div>
  </div>
 </div>
 <div class="group-1-2357" name="Group">
  <div class="group-1-2358" name="Group">
   <div class="group-1-2359" name="Group">
   </div>
   <img class="vector-1-2360" src="assets/images/Core/create-base/vector-1_2360.svg"/>
   <button class="btn-1-2367" type="button">
    <img class="vector-1-2370" src="assets/images/Core/create-base/vector-1_2370.svg"/>
    schedule type
   </button>
   <button class="btn-1-2372" type="button">
    <img class="vector-1-2375" src="assets/images/Core/create-base/vector-1_2375.svg"/>
    Distribution type
   </button>
   <button class="btn-1-2377" type="button">
    <img class="vector-1-2380" src="assets/images/Core/create-base/vector-1_2380.svg"/>
    Shift Distribution
   </button>
  </div>
  <div class="group-1-2382" name="Group">
  </div>
  <div class="group-1-2383" name="Group">
   <label class="text-1-2384" type="text" value="Pick Base lines if you want">
    Pick Base lines if you want
   </label>
   <img class="vector-1-2385" src="assets/images/Core/create-base/vector-1_2385.svg"/>
  </div>
 </div>
 <div class="group-1-2390" name="Group">
  <div class="group-1-2391" name="Group">
  </div>
  <img class="vector-1-2392" src="assets/images/Core/create-base/vector-1_2392.svg"/>
  <img class="vector-1-2395" src="assets/images/Core/create-base/vector-1_2395.svg"/>
  <img class="vector-1-2420" src="assets/images/Core/create-base/vector-1_2420.svg"/>
  <img class="vector-1-2421" src="assets/images/Core/create-base/vector-1_2421.svg"/>
  <button class="btn-1-2425" type="button">
   <img class="vector-1-2428" src="assets/images/Core/create-base/vector-1_2428.svg"/>
   back to dashboard
  </button>
 </div>
</div>
