

.corecreatebase-1-2243{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-1-2244{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1079px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-1-2245{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-1-2246{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2247{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-1-2248{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-1-2249{
position:absolute ;width: 1165.0px; height: 90.0px;  background-color: rgba(0,0,0,0.0);top:112px; left: 208px;border-radius: 2.0px;background:''}

.group-1-2250{
position:absolute ;width: 1165.0px; height: 90.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2251{
position:absolute ;width: 1146.756103515625px; height: 70.00004577636719px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;border-radius: 2.0px;background:''}

.group-1-2252{
position:absolute ;width: 991.2491455078125px; height: 70.00004577636719px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2253{
position:absolute ;width: 991.2491455078125px; height: 30.000045776367188px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2254{
position:absolute ;width: 189.89739990234375px; height: 29.986373901367188px;  background-color: rgba(255,255,255,1.0);top:1px; left: 416px;border-radius: 2.0px;background:''}

.text-1-2255{
position: absolute;
left: 100.95738983154297px;
 top: 11.0px;
 width: 74.30768585205078px;
 height: 6.9755096435546875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-1-2256{
position:absolute ;width: 69.7210922241211px; height: 10.961502075195312px;  background-color: rgba(0,0,0,0.0);top:9px; left: 14px;background:''}

.text-1-2257{
position: absolute;
left: 16.320171356201172px;
 top: 2.0px;
 width: 53.20796585083008px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-1-2258{
position: absolute;left: 0.19295501708984375px; top: -0.767578125px; width: 10.091163635253906px; height: 10.961502075195312}

.group-1-2262{
position:absolute ;width: 170.63241577148438px; height: 29.986373901367188px;  background-color: rgba(255,255,255,1.0);top:1px; left: 614px;border-radius: 2.0px;background:''}

.group-1-2263{
position:absolute ;width: 155.954345703125px; height: 22.919509887695312px;  background-color: rgba(0,0,0,0.0);top:4px; left: 6px;background:''}

.vector-1-2264{
position: absolute;left: 3.62255859375px; top: 5.7247314453125px; width: 11.0px; height: 11.0}

.text-1-2266{
position: absolute;
left: 115.78271484375px;
 top: 7.0px;
 width: 25.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2267{
position: absolute;
left: 18.96990966796875px;
 top: 7.0px;
 width: 59.629608154296875px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2268{
position:absolute ;width: 197.20730590820312px; height: 30.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 793px;border-radius: 2.0px;background:''}

.group-1-2269{
position:absolute ;width: 204.45895385742188px; height: 22.929931640625px;  background-color: rgba(0,0,0,0.0);top:5px; left: 3px;background:''}

.vector-1-2270{
position: absolute;left: 0.401947021484375px; top: 4.98828125px; width: 11.0px; height: 11.0}

.text-1-2272{
position: absolute;
left: 106.59805297851562px;
 top: 8.0px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2273{
position: absolute;
left: 14.598052978515625px;
 top: 6.9921875px;
 width: 88.07461547851562px;
 height: 7.003173828125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2274{
position:absolute ;width: 18.026519775390625px; height: 17.9075927734375px;  background-color: rgba(0,0,0,0.0);top:3px; left: 194px;border-radius: 12.982590675354004px;background:''}

.group-1-2275{
position:absolute ;width: 18.026519775390625px; height: 17.9075927734375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 12.982590675354004px;background:''}

.group-1-2276{
position:absolute ;width: 18.026519775390625px; height: 17.907257080078125px;  background-color: rgba(233,241,254,1.0);top:1px; left: 0px;border-radius: 12.982590675354004px;border-color:rgba(255, 255, 255, 1.0);border-style:solid;background:''}

.text-1-2277{
position: absolute;
left: 4.59808349609375px;
 top: 6.0px;
 width: 9.06402587890625px;
 height: 6.0027313232421875px;
font-size: 8.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-2278{
position:absolute ;width: 213.7492218017578px; height: 29.986373901367188px;  background-color: rgba(255,255,255,1.0);top:0px; left: 193px;border-radius: 2.0px;background:''}

.group-1-2279{
position:absolute ;width: 197.23641967773438px; height: 23.090179443359375px;  background-color: rgba(0,0,0,0.0);top:4px; left: 8px;background:''}

.vector-1-2280{
position: absolute;left: 3.299560546875px; top: 5.986328125px; width: 9.623291015625px; height: 9.623306274414062}

.text-1-2282{
position: absolute;
left: 98.676513671875px;
 top: 6.986328125px;
 width: 85.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2283{
position: absolute;
left: 17.64691162109375px;
 top: 6.986328125px;
 width: 56.877471923828125px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2284{
position:absolute ;width: 183.47573852539062px; height: 29.999664306640625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2285{
position:absolute ;width: 181.64096069335938px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:4px; left: 2px;background:''}

.group-1-2286{
position:absolute ;width: 153.0px; height: 11.0px;  background-color: rgba(0,0,0,0.0);top:5px; left: 15px;background:''}

.vector-1-2287{
position: absolute;left: 0.707122802734375px; top: 0.0px; width: 10.0px; height: 11.0}

.text-1-2289{
position: absolute;
left: 95.29287719726562px;
 top: 1.0px;
 width: 57.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2290{
position: absolute;
left: 12.30267333984375px;
 top: 1.0px;
 width: 59.495758056640625px;
 height: 8.0px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2291{
position:absolute ;width: 991.2491455078125px; height: 30.000045776367188px;  background-color: rgba(0,0,0,0.0);top:40px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2292{
position:absolute ;width: 189.89744567871094px; height: 29.986373901367188px;  background-color: rgba(255,255,255,1.0);top:1px; left: 416px;border-radius: 2.0px;background:''}

.group-1-2293{
position:absolute ;width: 154.02931213378906px; height: 12.419708251953125px;  background-color: rgba(0,0,0,0.0);top:8px; left: 18px;border-radius: 2.0px;background:''}

.group-1-2294{
position:absolute ;width: 154.02931213378906px; height: 12.419708251953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2295{
position:absolute ;width: 154.02931213378906px; height: 12.419708251953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2296{
position:absolute ;width: 154.02931213378906px; height: 12.419708251953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-1-2297{
position: absolute;
left: 11.097333908081055px;
 top: 2.138671875px;
 width: 60.798789978027344px;
 height: 8.320205688476562px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-1-2298{
position: absolute;
left: 109.76778411865234px;
 top: 0.146484375px;
 width: 21.398040771484375px;
 height: 12.198944091796875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2299{
position: absolute;left: 0.8308372497558594px; top: 1.138671875px; width: 10.11189079284668px; height: 10.193740844726562}

.text-1-2301{
position: absolute;
left: 133.89623260498047px;
 top: 2.1484375px;
 width: 19.286087036132812px;
 height: 7.635040283203125px;
font-size: 8.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-2302{
position:absolute ;width: 170.63247680664062px; height: 29.986373901367188px;  background-color: rgba(255,255,255,1.0);top:1px; left: 614px;border-radius: 2.0px;background:''}

.group-1-2303{
position:absolute ;width: 138.18731689453125px; height: 11.95953369140625px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;border-radius: 2.0px;background:''}

.group-1-2304{
position:absolute ;width: 138.18731689453125px; height: 11.95953369140625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-1-2305{
position: absolute;
left: 16.012298583984375px;
 top: 3.72265625px;
 width: 45.46900939941406px;
 height: 6.5491790771484375px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2306{
position:absolute ;width: 53.7349853515625px; height: 11.731094360351562px;  background-color: rgba(0,0,0,0.0);top:1px; left: 85px;background:''}

.text-1-2307{
position: absolute;
left: 0.1528167724609375px;
 top: -0.824005126953125px;
 width: 53.70579528808594px;
 height: 11.730987548828125px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.vector-1-2308{
position: absolute;left: 0.711944580078125px; top: 2.0px; width: 12.393829345703125px; height: 8.490646362304688}

.group-1-2310{
position:absolute ;width: 197.20730590820312px; height: 30.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 793px;border-radius: 2.0px;background:''}

.group-1-2311{
position:absolute ;width: 170.49615478515625px; height: 12.036163330078125px;  background-color: rgba(0,0,0,0.0);top:9px; left: 10px;border-radius: 2.0px;background:''}

.group-1-2312{
position:absolute ;width: 170.49615478515625px; height: 12.036163330078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.vector-1-2313{
position: absolute;left: 0.588287353515625px; top: 1.0390625px; width: 10.160308837890625px; height: 10.19586181640625}

.group-1-2315{
position:absolute ;width: 158.56939697265625px; height: 12.016311645507812px;  background-color: rgba(0,0,0,0.0);top:0px; left: 12px;background:''}

.group-1-2316{
position:absolute ;width: 41.38873291015625px; height: 9.387771606445312px;  background-color: rgba(0,0,0,0.0);top:3px; left: 0px;background:''}

.text-1-2317{
position: absolute;
left: 0.521148681640625px;
 top: -0.9238433837890625px;
 width: 41.37408447265625px;
 height: 9.387741088867188px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.group-1-2318{
position:absolute ;width: 52.656982421875px; height: 11.84002685546875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 106px;background:''}

.group-1-2319{
position:absolute ;width: 52.656982421875px; height: 11.84002685546875px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.text-1-2320{
position: absolute;
left: 0.4146728515625px;
 top: -0.003936767578125px;
 width: 52.656982421875px;
 height: 11.84002685546875px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-1-2321{
position:absolute ;width: 213.74929809570312px; height: 29.986373901367188px;  background-color: rgba(255,255,255,1.0);top:1px; left: 193px;border-radius: 2.0px;background:''}

.group-1-2322{
position:absolute ;width: 178.14059448242188px; height: 12.482345581054688px;  background-color: rgba(0,0,0,0.0);top:9px; left: 14px;border-radius: 2.0px;background:''}

.group-1-2323{
position:absolute ;width: 178.14059448242188px; height: 12.482345581054688px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2324{
position:absolute ;width: 178.14059448242188px; height: 12.482345581054688px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-1-2325{
position: absolute;
left: 12.165847778320312px;
 top: 0.01171875px;
 width: 96.14553833007812px;
 height: 12.123687744140625px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-1-2326{
position: absolute;
left: 166.15421295166016px;
 top: 0.0859375px;
 width: 11.006217956542969px;
 height: 10.632339477539062px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2327{
position: absolute;left: 0.965576171875px; top: 0.0px; width: 15.024932861328125px; height: 10.2010498046875}

.group-1-2329{
position:absolute ;width: 183.47579956054688px; height: 29.999664306640625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.group-1-2330{
position:absolute ;width: 147.89459228515625px; height: 12.411865234375px;  background-color: rgba(0,0,0,0.0);top:10px; left: 16px;border-radius: 2.0px;background:''}

.group-1-2331{
position:absolute ;width: 147.89300537109375px; height: 12.411865234375px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;border-radius: 2.0px;background:''}

.text-1-2332{
position: absolute;
left: 14.180389404296875px;
 top: -0.8398284912109375px;
 width: 66.34271240234375px;
 height: 12.121566772460938px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.text-1-2333{
position: absolute;
left: 136.6712646484375px;
 top: 1.52587890625e-05px;
 width: 10.51409912109375px;
 height: 11.017410278320312px;
font-size: 10.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2334{
position: absolute;left: 0.694122314453125px; top: -0.9881591796875px; width: 9.98712158203125px; height: 10.939651489257812}

.vector-1-2340{
position: absolute;left: 1000.3616943359375px; top: 0.0px; width: 145.9508056640625px; height: 70.0}

.group-1-2341{
position:absolute ;width: 296.0px; height: 87.0px;  background-color: rgba(0,0,0,0.0);top:214px; left: 1077px;border-radius: 2.0px;background:''}

.group-1-2342{
position:absolute ;width: 296.0px; height: 87.0px;  background-color: rgba(222,246,243,1.0);top:0px; left: 0px;border-radius: 2.0px;box-shadow: 0.0px 1.0px 15.0px rgba(0, 0, 0, 0.05000000074505806);background:''}

.text-1-2343{
position: absolute;
left: 34.205108642578125px;
 top: 12.302734375px;
 width: 98.49948120117188px;
 height: 7.110252380371094px;
font-size: 12.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2344{
position: absolute;
left: 34.20269775390625px;
 top: 29.0px;
 width: 84.01992797851562px;
 height: 8.06817626953125px;
font-size: 12.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-1-2345{
position: absolute;
left: 122.203125px;
 top: 46.0px;
 width: 169.0px;
 height: 29.0px;
font-size: 41.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2346{
position: absolute;left: 8.203125px; top: 16.0px; width: 17.0px; height: 17.0}

.group-1-2348{
position:absolute ;width: 43.0px; height: 15.0px;  background-color: rgba(255,255,255,1.0);top:60px; left: 76px;border-radius: 2.0px;background:''}

.vector-1-2349{
position: absolute;left: 2.203125px; top: 3.0px; width: 10.0px; height: 10.0}

.text-1-2351{
position: absolute;
left: 12.028076171875px;
 top: 5.0px;
 width: 29.018798828125px;
 height: 6.01873779296875px;
font-size: 9.0px; color: rgba(0, 183, 162, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-1-2352{
position: absolute;left: 10.0px; top: 62.0px; width: 20.991729736328125px; height: 13.435745239257812}

.group-1-2357{
position:absolute ;width: 1373.0px; height: 894.0px;  background-color: rgba(0,0,0,0.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-1-2358{
position:absolute ;width: 217.24871826171875px; height: 845.0px;  background-color: rgba(0,0,0,0.0);top:49px; left: 0px;background:''}

.group-1-2359{
position:absolute ;width: 209.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-1-2360{
position: absolute;left: 10.0px; top: 9.0px; width: 207.24871826171875px; height: 42.0}

.vector-1-2370{
position: relative; width: 16.0px; height: 16.0}

.btn-1-2367{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 14.0px;
 top: 62.0px;
 width: 182.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-1-2375{
position: relative; width: 16.0px; height: 16.0}

.btn-1-2372{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 13.6142578125px;
 top: 115.0px;
 width: 182.771484375px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-1-2380{
position: relative; width: 16.0px; height: 16.0}

.btn-1-2377{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 11.1142578125px;
 top: 168.0px;
 width: 187.771484375px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(255, 255, 255, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-1-2382{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-1-2383{
position:absolute ;width: 285.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.text-1-2384{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 250.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-1-2385{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.group-1-2390{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-1-2391{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-1-2392{
position: absolute;left: 1370.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-1-2395{
position: absolute;left: 22.0px; top: 24.0px; width: 155.537841796875px; height: 33.9761962890625}

.vector-1-2420{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.vector-1-2421{
position: absolute;left: 1326.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-1-2428{
position: relative; width: 24.0px; height: 24.0}

.btn-1-2425{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 214.0px;
 top: 17.0px;
 width: 207.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(237, 237, 237, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}